<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>listar usuarios</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
            crossorigin="anonymous">
</head>
<body class="bg-info">
<div class="container">
    <div th:replace="nav :: navegacion"></div>
    <form class="form bg-success p-2 text-dark bg-opacity-25"
          method="POST" action="/listarusuarios" id="listarusuarios">
        <h2>Listar Usuarios</h2>
        <div class="container mt-4">
            <div class="form-group">
                <label for="Combobox">Seleccione listas de usuarios:</label> <select
                    class="custom-select bg-secondary-subtle" id="Combobox"
                    onchange="redirectToJSP()">
                <option class="bg-secondary-subtle" value="">Selecciona</option>
                <option class="bg-secondary-subtle"
                        value="/listarcliente">Lista Cliente
                </option>
                <option class="bg-secondary-subtle"
                        value="/listaradministrativo">Lista Administrativo
                </option>
                <option class="bg-secondary-subtle"
                        value="/listarprofesional">Lista Profesional
                </option>
            </select>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    <div th:replace="footer :: foot"></div>

</div>
<script>
		function redirectToJSP() {
			var comboBox = document.getElementById("Combobox");
			var selectedOption = comboBox.options[comboBox.selectedIndex].value;
			if (selectedOption !== "") {
				window.location.href = selectedOption;
			}
		}

</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>